<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">
        <footer class="mastfoot">
            <span sec:authorize="isAuthenticated()">
                <div class="inner">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
                </div>
            </span>
            <script th:src="@{/js/bootstrap.bundle.css}"/>
            <script th:src="@{/js/bootstrap.css}"/>
        </footer>
    </div>
</div>
</body>
</html>