<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Article</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Article details:</h1>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${article.created}"/></td>
            <td><span th:text="${article.title}"/></td>
            <td><span th:text="${article.user.surname} +' '+ ${article.user.name}"/></td>
            <td><span th:text="${article.description}"/></td>
        </tr>
        </tbody>
    </table>
    <h1 class="h3 mb-3 font-weight-normal">Comments:</h1>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="row"></th>
            <th scope="col">Author</th>
            <th scope="col">Date of create</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment, stat : ${article.comments}">
            <td><span th:text="${stat.index + 1}"/></td>
            <td><span th:text="${comment.userDTO.name}+' '+${comment.userDTO.surname}"/></td>
            <td><span th:text="${comment.created}"/></td>
            <td><span th:text="${comment.description}"/></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>