<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h1 class="h3 mb-3 font-weight-normal">Upload File:</h1>
            <div th:if="${message}">
                <div class="alert alert-success text-center" th:text="${message}"/>
            </div>
            <form action="#" th:action="@{/private/items/upload}" th:object="${uploadedFile}" method="post"
                  enctype="multipart/form-data">
                <div th:if="${#fields.hasErrors('file')}">
                    <div class="alert alert-danger" role="alert" th:errors="*{file}"/>
                </div>

                <div class="form-group">
                    <input type="file" name="file"style="color: white"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block" value="Upload items"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>